<!-- Banner -->
<%- partial('_partial/banner.ejs', {
    mainText: page.title || theme.default_post_title || __('default_post_title'),
    secondaryText: '',
    faIconCss: page.icon || theme.default_post_icon || ''
}) %>

<!-- Content -->
<div class="content">
    <div class="grid-container">
        <div class="grid-x">
          <% if (page.type == 'service') { %>
                <div class="large-9 main-content cell">
                    <!-- Main Post Content -->
                    <%- page.content %>
                </div>
                <div class="large-3 cell">
                  <%- partial('_partial/events-sidebar', {page: page}) %>
                </div>
          <% } else { %>
                <div class="large-12 cell">
                    <!-- Main Post Content -->
                    <%- page.content %>

                    <% if ('type' in page && page.type == 'index') { %>
                      <%- partial('_partial/events-showcase', {page: page}) %>
                    <% } %>
                </div>
          <% } %>
            </div>
        </div>
    </div>
</div>
