<!-- Banner -->
<%- partial('_partial/banner.ejs', {
    mainText: page.title || theme.default_post_title || __('default_post_title'),
    secondaryText: '',
    faIconCss: page.icon || theme.default_post_icon || ''
}) %>

<!-- Content -->
<div class="content">
    <div class="grid-container">
        <div class="grid-x">
          <% if (page.type == 'service') { %>
                <div class="large-9 main-content cell">
                    <!-- Main Post Content -->
                    <%- page.content %>

                    <% if (page.title == 'Access Consciousness') { %>
                      <br /><br />
                      <div class="grid-x" data-equalizer data-equalize-on="large">
                        <div class="large-4 cell">
                          <a href="/services/access-consciousness/bars/"><img src="/img/access-bars.jpg" data-equalizer-watch><br/>
                          <h3 style="padding-left: 10px;">Access Bars</h3></a>
                        </div>
                        <div class="large-4 cell">
                          <a href="/services/access-consciousness/body-processes/"><img src="/img/access-body.jpg" data-equalizer-watch><br/>
                          <h3 style="padding-left: 10px;">Access Body Processes</h3></a>
                        </div>
                        <div class="large-4 cell">
                          <a href="/services/access-consciousness/energetic-facelift/"><img src="/img/access-energetic-facelift.jpg" data-equalizer-watch><br/>
                          <h3 style="padding-left: 10px;">Access Energetic Facelift</h3></a>
                        </div>
                      </div>
                    <% } %>
                </div>
                <div class="large-3 cell">
                  <% if (page.title == 'Reiki' || page.title == 'Access Consciousness') { %>
                    <h3>Book your <%- page.title %> session today</h3>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; 705-988-3207</p>
                    <hr>
                  <% } %>
                  <%- partial('_partial/events-sidebar', {page: page}) %>
                </div>
          <% } else { %>
                <div class="large-12 cell">
                    <!-- Main Post Content -->
                    <%- page.content %>

                    <% if ('type' in page && page.type == 'index') { %>
                      <%- partial('_partial/events-showcase', {page: page}) %>
                    <% } %>
                </div>
          <% } %>
            </div>
        </div>
    </div>
</div>
